/* Base background for the whole site (Project pages, About, etc.) */


/* Particle Container Styling */
#tsparticles {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10 !important; /* Forces it behind everything */
    pointer-events: none !important; /* Allows you to click buttons on top of it */
}
